# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# SQLite
*.db

# Logs
logs/events.log
*.log

# Virtual environments
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# System files
.DS_Store
__pycache__